{% extends "result.html" %}

{% block title %}
    Emotion Prediction
{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block project %}
    Emotion Indicator for Audio and Text
{% endblock %}

{% block content %}
    <h1>Audio File:</h1>
    <p>{{ audiofile.filename }}</p>
    <h1>Classifier Type:</h1>
    <p>{{ model }}</p>
    <h1>Perceived Emotion:</h1>
    {% if prediction == '1' %}
    <h2 style="color:blue;">Neutral state</h2>
    {% elif prediction == '2' %}
    <h2 style="color:red;">Anger</h2>
    {% elif prediction == '3' %}
    <h2 style="color:grey;">sadness</h2>
    {% elif prediction == '4' %}
    <h2 style="color:green;">happiness</h2>
    {% endif %}
{% endblock%}